openapi: 3.1.0
info:
  title: Operator Logger API
  description: Log food, fitness, or relapse data to Google Sheets
  version: 1.0.0
servers:
  - url: https://script.google.com/macros/s/AKfycbwS5GrNyQQJuBXcciUx6kyhjfMQwx-WhVGrP_VvdVpR2eBaiPgjEkHie0UAV6pnpw0o/exec

paths:
  /:
    post:
      summary: Log an event to Google Sheets
      operationId: logEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - auth
                - logType
              properties:
                auth:
                  type: string
                  default: auth_gpt_log_48b7f5d8c312
                logType:
                  type: string
                  enum: [food, fitness, relapse]
                time:
                  type: string
                  description: Time of the entry (e.g. "7:30 AM")
                meal:
                  type: string
                  description: Description of the food eaten
                calories:
                  type: integer
                  description: Estimated calories
                protein:
                  type: number
                  description: Estimated protein in grams
                workout:
                  type: string
                  description: Description of the workout
                relapseDetails:
                  type: string
                  description: What triggered the relapse or what happened
                mood:
                  type: string
                  description: How you were feeling
                notes:
                  type: string
                  description: Any additional notes
      responses:
        '200':
          description: Log successfully created
        '401':
          description: Unauthorized – invalid or missing auth key
